from airflow.models import DAG
from airflow.decorators import task
from airflow.operators.bash import BashOperator
from airflow.timetables.trigger import CronTriggerTimetable
from pendulum import datetime, now, DateTime, from_format
from airflow.providers.google.cloud.operators.cloud_run import CloudRunExecuteJobOperator

# Create Simple DAG with Catch Up
with DAG( dag_id= '{{ dag_parameter['dag_name'] }}', 
          schedule= CronTriggerTimetable("{{ dag_parameter['scheduler']}}", timezone="{{ dag_parameter['timezone'] }}"),
          catchup= {{ dag_parameter['catchup'] }},
          start_date= from_format('{{ dag_parameter['start_date'].strftime('%Y-%m-%d') }}', 'YYYY-MM-DD', tz= '{{ dag_parameter['timezone'] }}'),
          tags= {{ dag_parameter['tags'] }},
          max_active_runs= {{ dag_parameter['max_active_runs'] }}
        ) :
    
    # data_date
    @task(task_id= 'get_data_date')
    def get_data_date(data_interval_end : DateTime) : # Get `data_interval_end` 
        data_dt= data_interval_end.in_timezone('{{ dag_parameter['timezone'] }}')
        print(f'Run date is {now(tz= '{{ dag_parameter['timezone'] }}').strftime("%Y-%m-%d %H:%M:%S")}')  # Use `data_interval_end` 
        print(f'Data date is {data_dt.strftime("%Y-%m-%d %H:%M:%S")}')  # Use `data_interval_end` 
        
    data_date= get_data_date()
    
    cloud_run_job = CloudRunExecuteJobOperator(
                                task_id='cloud_run_job',
                                project_id='{{ operator_parameter['PROJECT_ID'] }}',
                                region='{{ operator_parameter['REGION'] }}',
                                gcp_conn_id= '{{ operator_parameter['GOOGLE_CLOUD_CONNECTION_ID'] }}',
                                job_name='{{ operator_parameter['JOB_NAME'] }}',
                                overrides={
                                            "container_overrides": [
                                                {
                                                    "env": [
                                                            {"name" : "NOTEBOOK_BUCKET",
                                                             "value" : "{{ operator_parameter['NOTEBOOK_BUCKET'] }}"},
                                                            {"name" : "NOTEBOOK_NAME",
                                                             "value" : "{{ operator_parameter['NOTEBOOK_NAME'] }}"},
                                                            {"name": "RUN_DT", 
                                                             "value": {% raw %}"{{ data_interval_end.in_tz('Asia/Bangkok').strftime('%Y-%m-%d') }}"{% endraw %}},
                                                            {"name": "GCS_PROJECT", 
                                                             "value": "{{ operator_parameter['GCS_PROJECT'] }}"},
                                                            {"name": "GCS_BUCKET", 
                                                             "value": "{{ operator_parameter['GCS_BUCKET'] }}"},
                                                            {"name": "GCS_FILE_PATH", 
                                                             "value": "{{ operator_parameter['GCS_FILE_PATH'] }}"},
                                                            {"name": "BQ_TARGET_PROJECT", 
                                                             "value": "{{ operator_parameter['BQ_TARGET_PROJECT'] }}"},
                                                            {"name": "BQ_TARGET_SCHEMA", 
                                                             "value": "{{ operator_parameter['BQ_TARGET_SCHEMA'] }}"},
                                                            {"name": "BQ_TARGET_TABLE", 
                                                             "value": "{{ operator_parameter['BQ_TARGET_TABLE'] }}"},
                                                            ],
                                                }
                                            ],
                                            "timeout": "{{ operator_parameter['TIMEOUT'] }}",
                                        },
                                deferrable=True,
                                )
    data_date >> cloud_run_job